<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest">
    <title>Sobre mi</title>
</head>
<body>
    <header class="indexHeader">
        <a href="../index.html">
            <img class="logo" src="../images/gobi-programming-logo.png" alt="Logo gobi">
        </a>
        <nav> 
            <a class="navLink" href="../index.html#queEsOds">¿Qué es un ODS?</a>
            <a class="navLink" href="../index.html#listadoOds">Listado ODS</a>
        </nav>
    </header>

    <main>
        <h2>¿Quién soy?</h2>
        <div class="introduction" id="queEsOds">

            <img class="aboutMeImg" src="../images/Oveja-yo.jpeg" alt="Oveja parecida a mi con el pelo suelto jaja">
            <p class="indexText">
                Hola! Soy Gabi, y si bien <strong>no soy una oveja</strong>, cuando llevo el pelo suelto a veces me parezco a ella. <br><br>

                Mis aficiones es tocar instrumentos, como la <u>guitarra</u>, el <u>bajo</u>, la <u>batería</u> y el <u>teclado</u> entre otros. También hacer descenso 
                en bici, hacer rutas por la montaña y agarrar el coche de vez en cuando para recorrer carreteras nacionales hasta encontrar 
                algún pueblo o lugar bonito. <br><br>

                He decidido estudiar <i>desarrollo de aplicaciones web</i> para formalizar mi formación. Ya he estudiado varios cursos sobre 
                programación, tanto de desarrollo web como de desarrollo de videojuegos, realidad virtual y diseño 3D, utilizando para 
                desarrollo web lenguajes, frameworks y librerías como <strong><i>Java, Springboot, MySQL, XAMPP, JavaScript, VUE, Bootstrap, CSS y 
                SASS</i></strong> entre otras tecnologías. <br>
                Para el desarrollo de videojuegos, realidad virtual y diseño 3D utilizamos <strong><i>C# y Unity.</i></strong> <br><br>

                Además de eso, también he practicado por mi cuenta y he aprendido por mi cuenta conocimientos sobre <strong><i>Python</i></strong>, gracias a 
                un trabajo relacionado con un proyecto de implementación de <strong><i>inteligencia artificial</i></strong> personalizada en un CMS. <br><br>

                Para más información sobre ese proyecto, espera hasta el about me del siguiente proyecto! :D <br><br>
                &#40;Y no te olvides de seguirme en github clickando <a href="https://github.com/GabriMF"><strong><u>aquí!</u></strong></a>&#41;
            </p>
        </div>
    </main>

    <footer>
        <img class="logo" src="../images/gobi-programming-logo.png" alt="">
        <h4>Página hecha por GabriMF <br><a class="footerLink" href="https://github.com/GabriMF">Sígueme en GitHub!</a></h4>
    </footer>
</body>
</html>