<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest">
    <title>ODS 2. Hambre Cero</title>
</head>
<body>
    <header class="odsHeader" id="headerOds2">
        <a href="../index.html"><img class="logo" src="../images/gobi-programming-logo.png" alt="Logo gobi"></a>
        <nav> 
            <a class="navLink" href="#odsMetas">Metas</a>
            <a class="navLink" href="#odsInd">Indicadores</a>
            <a class="navLink" href="#odsRet">Retos</a>
            <a class="navLink" href="#odsRelTic">Relación TIC</a>
            <a class="navLink" href="#odsAsp">Aspectos Negativos</a>
            <a class="navLink" href="#odsCon">Contribución</a>
            <a class="navLink" href="../index.html#listadoOds">Otros ODS</a>
            <a class="navLink" href="aboutMe.html">Sobre mi</a>
        </nav>
    </header>
    <main>
        <div class="odsIntro">
            <img class="odsPic" src="../images/Ods2-Big.png" alt="">
            <h1>
                ODS 2 <br><br> Hambre Cero.
            </h1>
        </div>
        <div class="odsConsisteDiv">
            <h2 class="odsConsisteTitle">
                En qué consiste el ODS 2
            </h2>
            <p class="odsText">
                Este objetivo consiste en atender en primer lugar a la mejora de la alimentación a través 
                del acceso de todas las personas a una alimentación sana, nutritiva y suficiente y la 
                erradicación de todas las formas de malnutrición, y se ocupan también de la producción de 
                alimentos, la agricultura y en general el sistema alimentario.
            </p>
        </div>


        <h2 id="odsMetas">
            Metas ODS 2.
        </h2>
        <div class="odsDiv">
            <ul>
                <li class="odsLi">
                    <h3>2.1 PONER FIN AL HAMBRE</h3>
                    <p>
                        De aquí a 2030, poner fin al hambre y asegurar el acceso de todas las personas, en 
                        particular a las personas pobres y las personas en situaciones de vulnerabilidad, también 
                        se incluye a la infancia, (menores de 1 año) a una alimentación sana, nutritiva y suficiente 
                        durante todo el año.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>2.2 MALNUTRICIÓN</h3>
                    <p>
                        De aquí a 2030, poner fin a todas las formas de malnutrición, incluso logrando, a más 
                        tardar en 2025, las metas convenidas internacionalmente sobre el retraso del crecimiento 
                        y la emaciación de los menores de 5 años, y abordar las necesidades de nutrición de las 
                        adolescentes, las mujeres embarazadas y lactantes y las personas de edad.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>2.3 PRODUCCIÓN AGRÍCOLA A PEQUEÑA ESCALA</h3>
                    <p>
                        De aquí a 2030 duplicar la productividad agrícola y los ingresos de los productores de 
                        alimentos en pequeña escala, en particular las mujeres, los pueblos indígenas, los 
                        agricultores familiares, los ganaderos y los pescadores, entre otras, mediante un acceso 
                        seguro y equitativo a las tierras, a otros recursos e insumos de producción y a los 
                        conocimientos, los servicios financieros, los mercados y las oportunidades para añadir 
                        valor y obtener empleos no agrícolas.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>2.4 PRÁCTICAS AGRÍCOLAS SOSTENIBLES Y RESILIENTES</h3>
                    <p>
                        De aquí a 2030 asegurar la sostenibilidad de los sistemas de producción de alimentos y 
                        aplicar prácticas agrícolas resilientes que aumenten la productividad y la producción, 
                        contribuyan al mantenimiento de los ecosistemas, fortalezcan la capacidad de adaptación 
                        al cambio climático, los fenómenos meteorológicos extremos, las sequías, las inundaciones 
                        y otros desastres, y mejoren progresivamente la calidad de la tierra y el suelo.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>2.5 DIVERSIDAD GENÉTICA</h3>
                    <p>
                        De aquí a 2020, mantener la diversidad genética de las semillas, las plantas cultivadas y los 
                        animales de granja y domesticados y sus correspondientes especies silvestres, entre otras 
                        cosas mediante una buena gestión y diversificación de los bancos de semillas y plantas a 
                        nivel nacional, regional e internacional, y promover el acceso a los beneficios que se 
                        deriven de la utilización de los recursos genéticos y los conocimientos tradicionales 
                        conexos y su distribución justa y equitativa, según lo convenido internacionalmente
                    </p>
                </li>
                <li class="odsLi">
                    <h3>2.A INVERSIONES EN AGRICULTURA</h3>
                    <p>
                        Aumentar, incluso mediante una mayor cooperación internacional, las inversiones en 
                        infraestructura rural, investigación y servicios de extensión agrícola, desarrollo tecnológico 
                        y bancos de genes de plantas y ganado a fin de mejorar la capacidad de producción 
                        agropecuaria en los países en desarrollo, particularmente en los países menos adelantados.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>2.B ESTABILIDAD DE MERCADOS AGROPECUARIOS MUNDIALES</h3>
                    <p>
                        Corregir y prevenir las restricciones y distorsiones comerciales en los mercados 
                        agropecuarios mundiales, incluso mediante la eliminación paralela de todas las formas de 
                        subvención a las exportaciones agrícolas y todas las medidas de exportación con efectos 
                        equivalentes, de conformidad con el mandato de la Ronda de Doha para el Desarrollo.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>2.C VOLATILIDAD DE PRECIOS DE LOS ALIMENTOS</h3>
                    <p>
                        Adoptar medidas para asegurar el buen funcionamiento de los mercados de productos 
                        básicos alimentarios y sus derivados y facilitar el acceso oportuno a la información sobre 
                        los mercados, incluso sobre las reservas de alimentos, a fin de ayudar a limitar la extrema 
                        volatilidad de los precios de los alimentos.
                    </p>
                </li>
            </ul>
            <a class="volverAlt" href="#headerOds2">Volver a inicio</a>
        </div>


        <h2 id="odsInd">
            Indicadores de seguimiento ODS 2.
        </h2>
        <div class="odsDiv">
            <ul>
                <li class="odsLi">
                    <h3>Indicador 2.1.1.</h3>
                    <p>
                        Prevalencia de la subalimentación
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 2.1.2.</h3>
                    <p>
                        Prevalencia de la inseguridad alimentaria moderada o grave entre la 
                        población, según la escala de experiencia de inseguridad alimentaria
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 2.2.1.</h3>
                    <p>
                        Prevalencia del retraso del crecimiento (estatura para la edad, desviación 
                        típica &gt;+2 o &lt;-2 de la mediana de los patrones de crecimiento infantil de la 
                        Organización Mundial de la Salud (OMS)) entre los niños menores de 5 años
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 2.2.2.</h3>
                    <p>
                        Prevalencia de la malnutrición (peso para la estatura, desviación típica &gt;+2 o 
                        &lt;-2 de la mediana de los patrones de crecimiento infantil de la OMS) entre los 
                        niños menores de 5 años, desglosada por tipo (emaciación y sobrepeso)
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 2.2.3.</h3>
                    <p>
                        Prevalencia de la anemia en las mujeres de entre 15 y 49 años, desglosada 
                        por embarazo (porcentaje)
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 2.3.1.</h3>
                    <p>
                        Volumen de producción por unidad de trabajo desglosado por tamaño y tipo de 
                        explotación (agropecuaria/ganadera/forestal)
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 2.3.2.</h3>
                    <p>
                        Media de los ingresos de los productores de alimentos en pequeña escala, 
                        desglosada por sexo y condición indígena
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 2.4.1.</h3>
                    <p>
                        Proporción de la superficie agrícola en que se practica una agricultura productiva y 
                        sostenible
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 2.5.1.</h3>
                    <p>
                        Número de recursos genéticos vegetales y animales para la alimentación y la 
                        agricultura preservados en las instalaciones de conservación a medio y largo 
                        plazo
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 2.5.2.</h3>
                    <p>
                        Proporción de razas y variedades locales consideradas en riesgo de extinción
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 2.a.1.</h3>
                    <p>
                        Índice de orientación agrícola para el gasto público
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 2.a.2.</h3>
                    <p>
                        Total de corrientes oficiales de recursos (asistencia oficial para el desarrollo 
                        más otras corrientes oficiales) destinado al sector agrícola
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 2.b.1.</h3>
                    <p>
                        Subsidios a la exportación de productos agropecuarios
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 2.c.1.</h3>
                    <p>
                        Indicador de anomalías en los precios de los alimentos
                    </p>
                </li>
            </ul>
            <a class="volverAlt" href="#headerOds2">Volver a inicio</a>
        </div>


        <h2>
            Dimensiones del desarrollo sostenible relacionadas
        </h2>
        <div class="odsDiv">
            <p class="odsText">
                Estaría principalmente relacionado con los ámbitos económico y social.
            </p> 
            <a class="volverAlt" href="#headerOds2">Volver a inicio</a>
        </div>


        <h2 id="odsRet">
            Retos a destacar
        </h2>
        <div class="odsDiv">
            <p>
                La imperativa coordinación internacional que se necesita para llevar a cabo los 
                objetivos de este ODS me parece el mayor reto que superar.
            </p>
            <a class="volverAlt" href="#headerOds2">Volver a inicio</a>
        </div>

        <h2>
            Relación con otros ODS.
        </h2>
        <div class="odsDiv">
            <p>
                Si bien podría considerarse relacionado con todos y cada uno de los ODS, hay una notable y 
                estrecha relación con los ODS de “Salud y bienestar”, “Agua limpia y saneamiento”, 
                “Reducción de las desigualdades” y “Ciudades y comunidades sostenibles”.
            </p>
            <a class="volverAlt" href="#headerOds2">Volver a inicio</a>
        </div>


        <h2 id="odsRelTic">
            Relación con Empresas TIC
        </h2>
        <div class="odsDiv">
            <p>
                Si bien se podría sacar una relación, no considero que esté especialmente 
                relacionado con nuestro sector
            </p>
            <a class="volverAlt" href="#headerOds2">Volver a inicio</a>
        </div>


        <h2>
            ¿Es alcanzable para 2030?
        </h2>
        <div class="odsDiv">
            <p>
                Si bien sería idílico alcanzar este ODS para 2030, lo veo complicado. 
                El principal hándicap que le veo a este ODS es la cooperación unánime a nivel 
                internacional que requiere.
            </p>
            <a class="volverAlt" href="#headerOds2">Volver a inicio</a>
        </div>


        <h2 id="odsAsp">
            Aspectos Negativos
        </h2>
        <div class="odsDiv">
            <p>
                Las metas de este ODS no me parecen que tengan un aspecto negativo más allá de 
                los posibles medios por los que se intente lograr y la propia dificultad de alcanzar 
                dichas metas.
            </p>
            <a class="volverAlt" href="#headerOds2">Volver a inicio</a>
        </div>


        <h2 id="odsEst">
            Posibles Estrategias
        </h2>
        <div class="odsDiv">
            <p>
                Promover una agricultura sostenible, apoyar a los pequeños agricultores y garantizar 
                el acceso equitativo a la tierra, la tecnología y los mercados.
            </p>
            <a class="volverAlt" href="#headerOds2">Volver a inicio</a>
        </div>


        <h2 id="odsCon">
            Contribución Empresarial
        </h2>
        <div class="odsDiv">
            <p>
                Nestlé es una compañía global que tiene diversos programas para promover la sana 
                alimentación en las distintas etapas de la vida de una persona. Para los pequeños y 
                pequeñas de casa, la empresa cuenta con la iniciativa llamada Nestlé por Niños 
                Saludables.
                Esta iniciativa busca acelerar su contribución para ayudar a esta y a futuras 
                generaciones a crecer más felices y saludables.
                Con esta práctica, la empresa cumple en los ODS: 2 y 3
            </p>
            <a class="volverAlt" href="#headerOds2">Volver a inicio</a>
        </div>
    </main>
    <footer>
        <img class="logo" src="../images/gobi-programming-logo.png" alt="">
        <h4>Página hecha por GabriMF <br><a class="footerLink" href="https://github.com/GabriMF">Sígueme en GitHub!</a></h4>
    </footer>
</body>
</html>