<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest">
    <title>ODS 3. Salud y Bienestar</title>
</head>
<body>
    <header class="odsHeader" id="headerOds3">
        <a href="../index.html"><img class="logo" src="../images/gobi-programming-logo.png" alt="Logo gobi"></a>
        <nav> 
            <a class="navLink" href="#odsMetas">Metas</a>
            <a class="navLink" href="#odsInd">Indicadores</a>
            <a class="navLink" href="#odsRet">Retos</a>
            <a class="navLink" href="#odsRelTic">Relación TIC</a>
            <a class="navLink" href="#odsAsp">Aspectos Negativos</a>
            <a class="navLink" href="#odsEst">Estrategias</a>
            <a class="navLink" href="#odsCon">Contribución</a>
            <a class="navLink" href="../index.html#listadoOds">Otros ODS</a>
        </nav>
    </header>
    <main>
        <div class="odsIntro">
            <img class="odsPic" src="../images/Ods3-Big.png" alt="">
            <h1>
                ODS 3 <br><br>Salud y Bienestar.
            </h1>
        </div>
        <div class="odsConsisteDiv">
            <h2 class="odsConsisteTitle">
                En qué consiste el ODS 3
            </h2>
            <p class="odsText">
                Este ODS consiste en garantizar una vida sana y 
                promover el bienestar de todos a todas las edades. 
            </p>
        </div>


        <h2 id="odsMetas">
            Metas ODS 3.
        </h2>
        <div class="odsDiv">
            <ul>
                <li class="odsLi">
                    <h3>1.  MORTALIDAD MATERNA </h3>
                    <p>
                        De aquí a 2030, reducir la tasa mundial de 
                        mortalidad materna a menos de 70 por cada 100.000 nacidos vivos 
                    </p>
                </li>
                <li class="odsLi">
                    <h3>2. MORTALIDAD INFANTIL </h3>
                    <p>
                        Para el 2030, poner fin a las muertes evitables de recién nacidos y 
                        de menores de 5 años, logrando que todos los países intenten reducir 
                        la mortalidad neonatal al menos hasta 12 por cada 1.000 nacidos vivos, y 
                        la mortalidad de menores de 5 años al menos hasta 25 por cada 1.000 nacidos vivos 
                    </p>
                </li>
                <li class="odsLi">
                    <h3>3. ENFERMEDADES TRANSMISIBLES </h3>
                    <p>
                        De aquí a 2030 poner fin a las epidemias del SIDA, la tuberculosis, la malaria y 
                        las enfermedades tropicales desatendidas y combatir la hepatitis, las enfermedades 
                        transmitidas por el agua y otras enfermedades transmisibles. 
                    </p>
                </li>
                <li class="odsLi">
                    <h3>4. ENFERMEDADES NO TRANSMISIBLES Y SALUD MENTAL </h3>
                    <p>
                        Para el 2030, reducir en un tercio la mortalidad prematura por enfermedades no 
                        transmisibles mediante la prevención y el tratamiento y promover la salud mental y 
                        el bienestar. 
                    </p>
                </li>
                <li class="odsLi">
                    <h3>5. DROGAS Y ALCOHOL </h3>
                    <p>
                        Fortalecer la prevención y el tratamiento del abuso de sustancias adictivas, incluido 
                        el uso indebido de estupefacientes y el consumo nocivo de alcohol. 
                    </p>
                </li>
                <li class="odsLi">
                    <h3>6. ACCIDENTES DE TRÁFICO </h3>
                    <p>
                        Para 2020, reducir a la mitad el número de muertes y lesiones causadas por 
                        accidentes de tráfico en el mundo. 
                    </p>
                </li>
                <li class="odsLi">
                    <h3>7. SALUD SEXUAL Y REPODUCTIVA, PLANIFICACIÓN FAMILIAR </h3>
                    <p>
                        Para el 2030, garantizar el acceso universal a los servicios de salud sexual y reproductiva, 
                        incluidos los de planificación de la familia, información y educación, y la integración de la 
                        salud reproductiva en las estrategias y los programas nacionales. 
                    </p>
                </li>
                <li class="odsLi">
                    <h3>8. COBERTURA UNIVERSAL Y ACCESO A MEDICAMENTOS </h3>
                    <p>
                        Lograr la cobertura sanitaria universal, en particular la protección contra los riesgos financieros, 
                        el acceso a servicios de salud esenciales de calidad y el acceso a medicamentos y vacunas seguros, 
                        eficaces, asequibles y de calidad para todas las personas. 
                    </p>
                </li>
                <li class="odsLi">
                    <h3>9 SALUD MEDIOAMBIENTAL (QUÍMICOS Y POLUCIÓN) </h3>
                    <p>
                        De aquí a 2030, reducir sustancialmente el número de muertes y enfermedades producidas por productos 
                        químicos peligrosos y la contaminación del aire, el agua y el suelo. 
                    </p>
                </li>
                <li class="odsLi">
                    <h3>3.A CONTROL DEL TABACO </h3>
                    <p>
                        Fortalecer la aplicación del Convenio Marco de la Organización Mundial de la Salud para el Control del 
                        Tabaco en todos los países, según proceda. 
                    </p>
                </li>
                <li class="odsLi">
                    <h3>3.B i+D VACUNAS Y MEDICAMENTOS ESENCIALES </h3>
                    <p>
                        Apoyar las actividades de investigación y desarrollo de vacunas y medicamentos para las enfermedades 
                        transmisibles y no transmisibles que afectan primordialmente a los países en desarrollo y facilitar el 
                        acceso a medicamentos y vacunas esenciales asequibles de conformidad con la Declaración de Doha relativa 
                        al Acuerdo sobre los ADPIC y la Salud Pública, en la que se afirma el derecho de los países en desarrollo 
                        a utilizar al máximo las disposiciones del Acuerdo sobre los Aspectos de los Derechos de Propiedad Intelectual 
                        Relacionados con el Comercio en lo relativo a la flexibilidad para proteger la salud pública y, en particular, 
                        proporcionar acceso a los medicamentos para todas las personas. 
                    </p>
                </li>
                <li class="odsLi">
                    <h3>3.C FINANCIACIÓN DEL SISTEMA SANITARIO (PERSONAL SANITARIO) </h3>
                    <p>
                        Aumentar sustancialmente la financiación de la salud y la contratación, el desarrollo, la capacitación y la 
                        retención del personal sanitario en los países en desarrollo, especialmente en los países menos adelantados y 
                        los pequeños Estados insulares en desarrollo. 
                    </p>
                </li>
                <li class="odsLi">
                    <h3>3.D GESTIÓN DE RIESGOS SANITARIOS </h3>
                    <p>
                        Reforzar la capacidad de todos los países, en particular los países en desarrollo, en materia de alerta temprana, 
                        reducción de riesgos y gestión de los riesgos para la salud nacional y mundial. 
                    </p>
                </li>
            </ul>
            <a class="volverAlt" href="#headerOds3">Volver a inicio</a>
        </div>


        <h2 id="odsInd">
            Indicadores de seguimiento ODS 3.
        </h2>
        <div class="odsDiv">
            <p>
                Los indicadores nos aportan la información de estado actual de cada meta del ODS. 
            </p>
            <ul>
                <li class="odsLi">
                    <h3>Meta 1. MORTALIDAD MATERNA. </h3>
                    <p>- Tasa de mortalidad materna.</p>
                    <p>- Proporción de partos atendidos por personal sanitario especializado.</p>
                </li>
                <li class="odsLi">
                    <h3>Meta 2. MORTALIDAD INFANTIL. </h3>
                    <p>- Tasa de mortalidad de niños menores de 5 años. </p>
                    <p>- Tasa de mortalidad neonatal. </p>
                </li>
                <li class="odsLi">
                    <h3> Meta 3. ENFERMEDADES TRANSMISIBLES. </h3>
                    <p>
                        - Número de nuevas infecciones por el VIH por cada 1.000 habitantes no 
                        infectados, desglosado por sexo, edad y poblaciones clave. 
                    </p>
                    <p>- Incidencia de la tuberculosis por cada 100.000 habitantes. </p>
                    <p>- Incidencia de la malaria por cada 1.000 habitantes. </p>
                    <p>- Incidencia de la hepatitis B por cada 100.000 habitantes. </p>
                    <p>- Número de personas que requieren intervenciones contra enfermedades tropicales desatendidas. </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 4. ENFERMEDADES NO TRANSMISIBLES Y SALUD MENTAL. </h3>
                    <p>
                        Tasa de mortalidad atribuida a las enfermedades cardiovasculares, el cáncer, la diabetes o 
                        las enfermedades respiratorias crónicas. 
                    </p>
                    <p>Tasa de mortalidad por suicidio. </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 5. DROGAS Y ALCOHOL. </h3>
                    <p>
                        Cobertura de los tratamientos (farmacológicos, psicosociales, servicios de rehabilitación 
                        y postratamiento) de trastornos por abuso de sustancias adictivas. 
                    </p>
                    <p>
                        Consumo nocivo de alcohol per cápita ( a partir de los 15 años de edad) durante un 
                        año civil en litros de alcohol puro 
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 6. ACCIDENTES DE TRÁFICO. </h3>
                    <p>Tasa de mortalidad por lesiones debidas a accidentes de tráfico </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 7. SALUD SEXUAL Y REPODUCTIVA, PLANIFICACIÓN FAMILIAR. </h3>
                    <p>- Proporción de mujeres en edad de procrear (de 15 a 49 años de edad) que cubren sus necesidades de planificación familiar con métodos modernos. </p>
                    <p>- Tasa de fecundidad de las adolescentes (entre 10 y 14 años y entre 15 y 19 años) por cada 1.000 mujeres de ese grupo de edad </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 8. COBERTURA UNIVERSAL Y ACCESO A MEDICAMENTOS. </h3>
                    <p>- Cobertura de los servicios de salud esenciales. </p>
                    <p>- Proporción de la población con grandes gastos sanitarios por hogar como porcentaje del total de gastos o ingresos de los hogares. </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 9. SALUD MEDIOAMBIENTAL (QUÍMICOS Y POLUCIÓN). </h3>
                    <p>- Tasa de mortalidad atribuida a la contaminación de los hogares y del aire ambiente </p>
                    <p>- Tasa de mortalidad atribuida al agua insalubre, el saneamiento deficiente y la falta de higiene ( exposición a servicios insalubres de agua, saneamiento e higiene para todos (WASH)) </p>
                    <p>- Tasa de mortalidad atribuida a intoxicaciones involuntarias </p>
                </li>
                <li class="odsLi">
                    <h3>Meta a. CONTROL DEL TABACO </h3>
                    <p>Prevalencia del consumo actual de tabaco a partir de los 15 años de edad (edades ajustadas) </p>
                </li>
                <li class="odsLi">
                    <h3>Meta b. i+D VACUNAS Y MEDICAMENTOS ESENCIALES </h3>
                    <p>Proporción de la población inmunizada con todas las vacunas incluidas en cada programa nacional. </p>
                    <p>Total neto de asistencia oficial para el desarrollo destinado a los sectores de la investigación médica y la atención sanitaria básica. </p>
                    <p>Proporción de centros de salud que disponen de un conjunto básico de medicamentos esenciales asequibles de manera sostenible. </p>
                </li>
                <li class="odsLi">
                    <h3>Meta c. FINANCIACIÓN DEL SISTEMA SANITARIO (PERSONAL SANITARIO). </h3>
                    <p>Densidad y distribución del personal sanitario. </p>
                </li>
                <li class="odsLi">
                    <h3>Meta d. GESTIÓN DE RIESGOS SANITARIOS </h3>
                    <p>Capacidad prevista en el Reglamento Sanitario Internacional (RSI) y preparación para emergencias de salud </p>
                    <p>Porcentaje de infecciones del torrente sanguíneo debidas a determinados organismos resistentes a los antimicrobianos seleccionados </p>
                </li>
            </ul>
            <a class="volverAlt" href="#headerOds3">Volver a inicio</a>
        </div>


        <h2>
            Dimensiones del desarrollo sostenible relacionadas
        </h2>
        <div class="odsDiv">
            <p class="odsText">
                Si bien guarda una estrecha relación entre las tres dimensiones, diría que está principalmente encuadrado en el social, seguido por el económico y ambiental. 
            </p> 
            <a class="volverAlt" href="#headerOds3">Volver a inicio</a>
        </div>


        <h2 id="odsRet">
            Retos a destacar
        </h2>
        <div class="odsDiv">

            <ul>
                <li class="odsAltLi">
                    DROGAS Y ALCOHOL 
                    <p>
                        Hay un fuerte abuso de estas sustancias en la sociedad, en todos los 
                        estratos sociales, por lo que desarrollar más planes de ayuda sería una 
                        buena medida, siempre y cuando nunca se criminalice a las personas por 
                        sus problemas con dichas sustancias. 
                    </p>
                </li>

                <li class="odsAltLi">
                    ENFERMEDADES TRANSMISIBLES 
                    <p>
                        Si bien Europa no sería la región más afectada por este objetivo, considero 
                        de crucial importancia el control, prevención y erradicación de enfermedades 
                        contagiosas, especialmente en zonas menos desarrolladas. 
                    </p>
                </li>

                <li class="odsAltLi">
                    ENFERMEDADES NO TRANSMISIBLES Y SALUD MENTAL 
                    <p>
                        Aquí Europa sí que podría sentirse identificada, y es que tenemos un grave problema 
                        relacionado con la salud mental en occidente. Especialmente en las nuevas generaciones.  
                        Tener en cuenta el estado de las generaciones jóvenes me parece algo crucial. 
                    </p>
                </li>
                <li class="odsAltLi">
                    COBERTURA UNIVERSAL Y ACCESO A MEDICAMENTOS 
                    <p>
                        Cualquier persona debiera de tener opción de acceder al sistema de salud. A nadie se le debería negar 
                    </p>
                </li>
                <li class="odsAltLi">
                    SALUD MEDIOAMBIENTAL (QUÍMICOS Y POLUCIÓN) 
                    <p>
                        Aunque todo funcione perfecto, tengamos sanidad pública y de acceso universal, si no cuidamos el entorno 
                        y lo que vertemos en él, no nos sirve de nada.  
                    </p>
                </li>
            </ul>
            <a class="volverAlt" href="#headerOds3">Volver a inicio</a>
        </div>

        <h2>
            Relación con otros ODS.
        </h2>
        <div class="odsDiv">
            <p>
                El ODS Fin de la pobreza está relacionado directamente con la casi totalidad del resto de 
                ODS, ya que la pobreza es una causa y consecuencia de múltiples problemas sociales, 
                económicos y ambientales.  
            </p>
            <dl>
                <dt class="odsAltLi">
                    ODS 1: Fin de la Pobreza 
                </dt>

                
                <dt class="odsAltLi">
                    ODS 2: Hambre cero 
                </dt>


                <dt class="odsAltLi">
                    ODS 4: Educación de calidad 
                </dt>

                <dt class="odsAltLi">
                    ODS 6: Agua limpia y saneamiento 
                </dt>

                <dt class="odsAltLi">
                    ODS 7: Energía asequible y no contaminante 
                </dt>

                <dt class="odsAltLi">
                    ODS 8: Trabajo decente y crecimiento económico 
                </dt>

                <dt class="odsAltLi">
                    ODS 9: Industria, innovación e infraestructura 
                </dt>

                <dt class="odsAltLi">
                    ODS 10: Reducción de las desigualdades 
                </dt>

                <dt class="odsAltLi">
                    ODS 11: Ciudades y comunidades sostenibles 
                </dt>

                <dt class="odsAltLi">
                    ODS 13: Acción por el clima 
                </dt>

                <dt class="odsAltLi">
                    ODS 16: Paz, justicia e instituciones sólidas 
                </dt>

                <dt class="odsAltLi">
                    ODS 17: Alianzas para lograr los objetivos 
                </dt>
            </dl>
            <a class="volverAlt" href="#headerOds3">Volver a inicio</a>
        </div>


        <h2 id="odsRelTic">
            Relación con Empresas TIC
        </h2>
        <div class="odsDiv">
            <p>
                Si, claro. Nuestro sector es el que se encarga de mantener vivas y en 
                crecimiento las nuevas tecnologías, y eso incluye a las destinadas a la 
                sanidad y el medio ambiente. Es nuestro sector quien programa las máquinas 
                de los hospitales, los sensores ambientales, las máquinas de laboratorio...  
            </p>
            <a class="volverAlt" href="#headerOds3">Volver a inicio</a>
        </div>


        <h2>
            ¿Es alcanzable para 2030?
        </h2>
        <div class="odsDiv">
            <p>
                Muy complicado lograrlo al 100%, pero bastante viable conseguir apartados 
                individuales. Uno de los mayores problemas podría ser un tema de 
                infraestructuras a nivel técnico. Construir, por ejemplo, hospitales de 
                acceso universal que soporten la posible carga de pacientes es algo que 
                podría ser complicado de construir y mantener en ciertas regiones del mundo. 
                A nivel social podríamos tener conflictos con las drogas, tabaco y alcohol. 
                Son sustancias muy arraigadas en nuestra sociedad, en algunos casos incluso 
                forman parte de las tradiciones regionales y/o nacionales. 
            </p>
            <a class="volverAlt" href="#headerOds3">Volver a inicio</a>
        </div>


        <h2 id="odsAsp">
            Aspectos Negativos
        </h2>
        <div class="odsDiv">
            <p>
                En absoluto. Solo podría suponer un problema para las grandes farmacéuticas, ya que 
                una sociedad más sana, es una sociedad que necesita menos medicamentos, pero me parece 
                un objetivo que perseguir con prácticamente ningún aspecto negativo 
            </p>
            <a class="volverAlt" href="#headerOds3">Volver a inicio</a>
        </div>


        <h2 id="odsEst">
            Posibles Estrategias
        </h2>
        <div class="odsDiv">
            <ul>
                <li class="odsAltLi">
                    Reale seguros. 
                </li>

                <li class="odsAltLi">
                    Sanitas. 
                </li>

                <li class="odsAltLi">
                    Serida. 
                </li>
            </ul>
            <a class="volverAlt" href="#headerOds3">Volver a inicio</a>
        </div>


        <h2 id="odsCon">
            Contribución Empresarial
        </h2>
        <div class="odsDiv">
            <p>

            </p>
            <ul>
                <li class="odsAltLi">

                </li>
                <li class="odsAltLi">

                </li>
                <li class="odsAltLi">

                </li>
                <li class="odsAltLi">

                </li>
            </ul>
            <a class="volverAlt" href="#headerOds3">Volver a inicio</a>
        </div>
    </main>
    <footer>
        <img class="logo" src="images/gobi-programming-logo.png" alt="">
        <h4>Página hecha por GabriMF <br><a class="footerLink" href="https://github.com/GabriMF">Sígueme en GitHub!</a></h4>
    </footer>
</body>
</html>