<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>ODS1</title>
</head>
<body>
    <header class="odsHeader">
        <a href="../index.html"><img class="logo" src="../images/laboralLogo.png" alt="Logo Universidad Laboral"></a>
        <nav> 
            <a class="odsNavLink" href="#odsMetas">Metas</a>
            <a class="odsNavLink" href="#odsInd">Indicadores</a>
            <a class="odsNavLink" href="#odsRet">Retos</a>
            <a class="odsNavLink" href="#odsRelTic">Relación TIC</a>
            <a class="odsNavLink" href="#odsAsp">Aspectos Negativos</a>
            <a class="odsNavLink" href="#odsEst">Estrategias</a>
            <a class="odsNavLink" href="#odsCon">Contribución</a>
            <a class="odsNavLink" href="../index.html">Otros ODS</a>
        </nav>
    </header>
    <main>
        <div class="odsIntro">
            <img class="odsPic" src="../images/Ods4-Big.png" alt="">
            <h1>
                
            </h1>
        </div>
        <div class="odsConsisteDiv">
            <h2 class="odsConsisteTitle">
                En qué consiste el ODS 1
            </h2>
            <p class="odsText">

            </p>
        </div>


        <h2 id="odsMetas">
            Metas ODS 1.
        </h2>
        <div class="odsDiv">
            <ul>
                <li class="odsLi">
                    <h3></h3>
                    <p>

                    </p>
                </li>
                <li class="odsLi">
                    <h3></h3>
                    <p>

                    </p>
                </li>
                <li class="odsLi">
                    <h3></h3>
                    <p>

                    </p>
                </li>
                <li class="odsLi">
                    <h3></h3>
                    <p>

                    </p>
                </li>
                <li class="odsLi">

                </li>
            </ul>
        </div>


        <h2 id="odsInd">
            Indicadores de seguimiento ODS 1.
        </h2>
        <div class="odsDiv">
            <ul>
                <li class="odsLi">
                    <h3></h3>
                    <p>

                    </p>
                </li>
                <li class="odsLi">
                    <h3></h3>
                    <p>

                    </p>
                </li>
                <li class="odsLi">
                    <h3></h3>
                    <p>

                    </p>
                </li>
                <li class="odsLi">
                    <h3></h3>
                    <p>

                    </p>
                </li>
                <li class="odsLi">
                    <h3></h3>
                    <p>

                    </p>
                </li>
            </ul>
        </div>


        <h2>
            Dimensiones del desarrollo sostenible relacionadas
        </h2>
        <div class="odsDiv">
            <p class="odsText">
                
            </p> 
        </div>


        <h2 id="odsRet">
            Retos a destacar
        </h2>
        <div class="odsDiv">
            <p>

            </p>
            <ul>
                <li class="odsAltLi">

                </li>

                <li class="odsAltLi">

                </li>

                <li class="odsAltLi">

                </li>
            </ul>
        </div>

        <h2>
            Relación con otros ODS.
        </h2>
        <div class="odsDiv">
            <p>

            </p>
            <dl>
                <dt class="odsAltLi">

                </dt>
                <dd class="odsDefLi">

                </dd>
                
                <dt class="odsAltLi">

                </dt>
                <dd class="odsDefLi">

                </dd>

                <dt class="odsAltLi">

                </dt>
                <dd class="odsDefLi">

                </dd>
            </dl>
        </div>


        <h2 id="odsRelTic">
            Relación con Empresas TIC
        </h2>
        <div class="odsDiv">
            <p>

            </p>
            <ul>
                <li class="odsAltLi">

                </li>

                <li class="odsAltLi">

                </li>

                <li class="odsAltLi">

                </li>
            </ul>
        </div>


        <h2>
            ¿Es alcanzable para 2030?
        </h2>
        <div class="odsDiv">
            <p>

            </p>
            <ul>
                <li class="odsAltLi">

                </li>

                <li class="odsAltLi">

                </li>

                <li class="odsAltLi">

                </li>
            </ul>
        </div>


        <h2 id="odsAsp">
            Aspectos Negativos
        </h2>
        <div class="odsDiv">
            <p>


            </p>
        </div>


        <h2 id="odsEst">
            Posibles Estrategias
        </h2>
        <div class="odsDiv">
            <p>

            </p>
            <ul>
                <li class="odsAltLi">

                </li>

                <li class="odsAltLi">

                </li>

                <li class="odsAltLi">

                </li>
            </ul>
        </div>


        <h2 id="odsCon">
            Contribución Empresarial
        </h2>
        <div class="odsDiv">
            <p>

            </p>
            <ul>
                <li class="odsAltLi">

                </li>
                <li class="odsAltLi">

                </li>
                <li class="odsAltLi">

                </li>
                <li class="odsAltLi">

                </li>
            </ul>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>