<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>ODS 6. Agua Limpia y Saneamiento.</title>
</head>
<body>
    <header class="odsHeader">
        <a href="../index.html"><img class="logo" src="../images/laboralLogo.png" alt="Logo Universidad Laboral"></a>
        <nav> 
            <a class="odsNavLink" href="#odsMetas">Metas</a>
            <a class="odsNavLink" href="#odsInd">Indicadores</a>
            <a class="odsNavLink" href="#odsRet">Retos</a>
            <a class="odsNavLink" href="#odsRelTic">Relación TIC</a>
            <a class="odsNavLink" href="#odsAsp">Aspectos Negativos</a>
            <a class="odsNavLink" href="#odsEst">Estrategias</a>
            <a class="odsNavLink" href="#odsCon">Contribución</a>
            <a class="odsNavLink" href="../index.html">Otros ODS</a>
        </nav>
    </header>
    <main>
        <div class="odsIntro">
            <img class="odsPic" src="../images/Ods6-Big.png" alt="">
            <h1>
                ODS 6 <br><br> Agua Limpia y Saneamiento.
            </h1>
        </div>
        <div class="odsConsisteDiv">
            <h2 class="odsConsisteTitle">
                En qué consiste el ODS 1
            </h2>
            <p class="odsText">

            </p>
        </div>


        <h2 id="odsMetas">
            Metas ODS 1.
        </h2>
        <div class="odsDiv">
            <ul>
                <li class="odsLi">
                    <h3>Meta 6.1</h3>
                    <p>
                        De aquí a 2030, lograr el acceso universal y equitativo al agua potable a un precio 
                        asequible para todos

                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 6.2</h3>
                    <p>
                        De aquí a 2030, lograr el acceso a servicios de saneamiento e higiene adecuados y 
                        equitativos para todos y poner fin a la defecación al aire libre, prestando especial 
                        atención a las necesidades de las mujeres y las niñas y las personas en situaciones de 
                        vulnerabilidad
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 6.3.</h3>
                    <p>
                        De aquí a 2030, mejorar la calidad del agua reduciendo la contaminación, eliminando 
                        el vertimiento y minimizando la emisión de productos químicos y materiales 
                        peligrosos, reduciendo a la mitad el porcentaje de aguas residuales sin tratar y 
                        aumentando considerablemente el reciclado y la reutilización sin riesgos a nivel 
                        mundial

                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 6.4</h3>
                    <p>
                        De aquí a 2030, aumentar considerablemente el uso eficiente de los recursos 
                        hídricos en todos los sectores y asegurar la sostenibilidad de la extracción y el 
                        abastecimiento de agua dulce para hacer frente a la escasez de agua y reducir 
                        considerablemente el número de personas que sufren falta de agua
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 6.5.</h3>
                    <p>
                        De aquí a 2030, implementar la gestión integrada de los recursos hídricos a todos los 
                        niveles, incluso mediante la cooperación transfronteriza, según proceda

                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 6.6</h3>
                    <p>
                        De aquí a 2020, proteger y restablecer los ecosistemas relacionados con el agua, 
                        incluidos los bosques, las montañas, los humedales, los ríos, los acuíferos y los lagos

                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 6.a</h3>
                    <p>
                        De aquí a 2030, ampliar la cooperación internacional y el apoyo prestado a los países 
                        en desarrollo para la creación de capacidad en actividades y programas relativos al 
                        agua y el saneamiento, como los de captación de agua, desalinización, uso eficiente 
                        de los recursos hídricos, tratamiento de aguas residuales, reciclado y tecnologías de 
                        reutilización
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 6.b</h3>
                    <p>
                        Apoyar y fortalecer la participación de las comunidades locales en la mejora de 
                        la gestión del agua y el saneamiento
                    </p>
                </li>
            </ul>
        </div>


        <h2 id="odsInd">
            Indicadores de seguimiento ODS 1.
        </h2>
        <div class="odsDiv">
            <ul>
                <li class="odsLi">
                    <h3>Indicador 6.1.1.</h3>
                    <p>
                        Proporción de la población que utiliza servicios de suministro de agua potable 
                        gestionados sin riesgos.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 6.2.1.</h3>
                    <p>
                        Proporción de la población que utiliza: a. servicios de saneamiento gestionados sin 
                        riesgos y b. instalaciones para el lavado de manos con agua y jabón.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 6.3.1.</h3>
                    <p>
                        Proporción de los flujos de aguas residuales domésticas e industriales tratados de 
                        manera adecuada.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 6.3.2.</h3>
                    <p>
                        Proporción de masas de agua de buena calidad
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 6.4.1.</h3>
                    <p>
                        Cambio en el uso eficiente de los recursos híbridos con el paso del tiempo
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 6.4.2.</h3>
                    <p>
                        Nivel de estrés hídrico: extracción de agua dulce en proporción a los recursos de 
                        agua dulce disponibles
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 6.5.1.</h3>
                    <p>
                        Grado de gestión integrada de los recursos hídricos.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 6.5.2.</h3>
                    <p>
                        Proporción de la superficie de la cuenca transfronteriza con arreglos operacionales 
                        para cooperación en materias de agua
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 6.6.1.</h3>
                    <p>
                        Cambio en la extensión de los ecosistemas relacionados con el agua con el paso del 
                        tiempo
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 6.a.1.</h3>
                    <p>
                        Volumen de la asistencia oficial para el desarrollo destinada al agua y el saneamiento 
                        que forma parte de un plan de gastos coordinados por el gobierno
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 6.b.1.</h3>
                    <p>
                        Proporción de dependencias administrativas locales que han establecido políticas y 
                        procedimientos operacionales para la participación de las comunidades locales en la 
                        gestión del agua y el saneamiento
                    </p>
                </li>
            </ul>
        </div>


        <h2>
            Dimensiones del desarrollo sostenible relacionadas
        </h2>
        <div class="odsDiv">
            <p class="odsText">
                El ODS 6 se enmarca principalmente en la dimensión ambiental y social, puesto que está 
                orientado a proteger los recursos hídricos y la calidad del agua, lo cual es fundamental para 
                la salud, el bienestar y la reducción de la pobreza. No obstante, también tiene trazas de la 
                dimensión económica.
            </p> 
        </div>


        <h2 id="odsRet">
            Retos a destacar
        </h2>
        <div class="odsDiv">
            <p>
                Algunos desafíos clave podrían ser los siguientes:
            </p>
            <ul>
                <li class="odsAltLi">
                    Escasez de agua en algunas regiones debido a las consecuencias del cambio climático.
                </li>

                <li class="odsAltLi">
                    La posible escasez de infraestructura en áreas rurales, comunidades desfavorecidas o 
                    países y regiones en vías de desarrollo.
                </li>

                <li class="odsAltLi">
                    La posible contaminación de fuentes de agua por actividades industriales y agrícolas
                </li>
            </ul>
        </div>

        <h2>
            Relación con otros ODS.
        </h2>
        <div class="odsDiv">
            <dl>
                <dt class="odsAltLi">
                    ODS 3. Salud y bienestar.
                </dt>
                <dd class="odsDefLi">
                    El acceso a agua potable y saneamiento mejora la salud pública.
                </dd>
                
                <dt class="odsAltLi">
                    ODS 13. Acción por el clima.
                </dt>
                <dd class="odsDefLi">
                    La gestión del agua está afectada por el cambio climático.
                </dd>

                <dt class="odsAltLi">
                    ODS 15. Vida de ecosistemas terrestres.
                </dt>
                <dd class="odsDefLi">
                    La protección de fuentes de agua ayuda a conservar la biodiversidad.
                </dd>
            </dl>
        </div>


        <h2 id="odsRelTic">
            Relación con Empresas TIC
        </h2>
        <div class="odsDiv">
            <p>
                La industria tecnológica no es la primera que se te pasaría por la cabeza al respecto de este 
                ODS, al contrario que con la industria agraria, ganadera o con grandes industrias eléctricas y 
                manufactureras, no obstante, se le puede relacionar de forma indirecta por varios flancos.
            </p>
            <ul>
                <li class="odsAltLi">
                    Consumo energético
                </li>

                <li class="odsAltLi">
                    Sensibilización mediante plataformas.
                </li>

                <li class="odsAltLi">
                    Gestión de datos eficiente.
                </li>

                <li class="odsAltLi">
                    Aplicaciones y soluciones de monitoreo.
                </li>
            </ul>
        </div>


        <h2>
            ¿Es alcanzable para 2030?
        </h2>
        <div class="odsDiv">
            <p>
                Si bien es posible avanzar y acercarnos, hay obstáculos como la financiación insuficiente del 
                proyecto, los efectos del cambio climático, las posibles prácticas insostenibles y la posible 
                falta de cooperación. A parte de todo eso, también habría que tener en cuenta la escasez de 
                infraestructura en las áreas rurales y en los territorios en vías de desarrollo.
            </p>
        </div>


        <h2 id="odsAsp">
            Aspectos Negativos
        </h2>
        <div class="odsDiv">
            <p>
                Si bien no considero que haya aspectos negativos en este ODS, si que hay ciertas posibles 
                consecuencias negativas, tales como:
            </p>
            <ul>
                <li class="odsAltLi">
                    Alto coste de infraestructura y tratamiento de agua.
                </li>

                <li class="odsAltLi">
                    El posible desplazamiento y reubicación de comunidades para proteger fuentes de agua
                </li>

                <li class="odsAltLi">
                    Posibles conflictos de intereses.
                </li>
            </ul>
        </div>


        <h2 id="odsEst">
            Posibles Estrategias
        </h2>
        <div class="odsDiv">
            <p>
                Los puntos clave a seguir para lograr este ODS podrían ser los siguientes:
            </p>
            <ul>
                <li class="odsAltLi">
                    Fomentar la inversión en infraestructura de saneamiento.
                </li>

                <li class="odsAltLi">
                    Promover prácticas agrícolas e industriales sostenibles
                </li>

                <li class="odsAltLi">
                    Educar a la población sore el uso responsable del agua
                </li>
            </ul>
        </div>


        <h2 id="odsCon">
            Contribución Empresarial
        </h2>
        <div class="odsDiv">
            <p>
                Un ejemplo podría ser EDP España, quien tiene instalaciones en Asturias.
                Promueve el uso responsable del agua como parte de sus políticas medioambientales, 
                aplicando estrategias para reducir el consumo de agua y minimizar su impacto ambiental en 
                las áreas en las que opera. Estas prácticas incluyen el tratamiento y reutilización del agua en 
                sus procesos industriales y la inversión en tecnologías más eficientes, contribuyendo al 
                cuidade de los recursos hídricos en la región.
            </p>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>