<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest">
    <title>ODS 9. Industria, innovación e infraestructura</title>
</head>
<body>
    <header class="odsHeader" id="headerOds9">
        <a href="../index.html"><img class="logo" src="../images/gobi-programming-logo.png" alt="Logo gobi"></a>
        <nav> 
            <a class="navLink" href="#odsMetas">Metas</a>
            <a class="navLink" href="#odsInd">Indicadores</a>
            <a class="navLink" href="#odsRet">Retos</a>
            <a class="navLink" href="#odsRelTic">Relación TIC</a>
            <a class="navLink" href="#odsAsp">Aspectos Negativos</a>
            <a class="navLink" href="#odsCon">Contribución</a>
            <a class="navLink" href="../index.html#listadoOds">Otros ODS</a>
            <a class="navLink" href="aboutMe.html">Sobre mi</a>
        </nav>
    </header>
    <main>
        <div class="odsIntro">
            <img class="odsPic" src="../images/Ods9-Big.png" alt="">
            <h1>
                ODS 9 <br><br>Industria, innovación e infraestructura.
            </h1>
        </div>
        <div class="odsConsisteDiv">
            <h2 class="odsConsisteTitle">
                En qué consiste el ODS 9
            </h2>
            <p class="odsText">
                El ODS 9 tiene como objetivo la construcción de infraestructuras resilientes, la
                promoción de una industrialización inclusiva y sostenible y la fomentación de la 
                innovación.
            </p>
        </div>


        <h2 id="odsMetas">
            Metas ODS 9.
        </h2>
        <div class="odsDiv">
            <ul>
                <li class="odsLi">
                    <h3>Meta 9.1</h3>
                    <p>
                        Desarrollar infraestructuras fiables, sostenibles, resilientes y de calidad, incluidas 
                        infraestructuras regionales y transfronterizas, para apoyar el desarrollo económico y 
                        el bienestar humano, haciendo especial hincapié en el acceso asequible y equitativo 
                        para todos
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 9.2</h3>
                    <p>
                        Promover una industrialización inclusiva y sostenible y, de aquí a 2030, aumentar 
                        significativamente la contribución de la industria al empleo y al producto interno 
                        bruto, de acuerdo con las circunstancias nacionales, y duplicar esa contribución en 
                        los países menos adelantados
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 9.3</h3>
                    <p>
                        Aumentar el acceso de las pequeñas industrias y otras empresas, particularmente en 
                        los países en desarrollo, a los servicios financieros, incluidos créditos asequibles, y su 
                        integración en las cadenas de valor y los mercados
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 9.4</h3>
                    <p>
                        De aquí a 2030, modernizar la infraestructura y reconvertir las industrias para que 
                        sean sostenibles, utilizando los recursos con mayor eficacia y promoviendo la 
                        adopción de tecnologías y procesos industriales limpios y ambientalmente 
                        racionales, y logrando que todos los países tomen medidas de acuerdo con sus 
                        capacidades respectivas
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 9.5</h3>
                    <p>
                        Aumentar la investigación científica y mejorar la capacidad tecnológica de los 
                        sectores industriales de todos los países, en particular los países en desarrollo, entre 
                        otras cosas fomentando la innovación y aumentando considerablemente, de aquí a 
                        2030, el número de personas que trabajan en investigación y desarrollo por millón 
                        de habitantes y los gastos de los sectores público y privado en investigación y 
                        desarrollo
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 9.a</h3>
                    <p>
                        Facilitar el desarrollo de infraestructuras sostenibles y resilientes en los países en 
                        desarrollo mediante un mayor apoyo financiero, tecnológico y técnico a los países 
                        africanos, los países menos adelantados, los países en desarrollo sin litoral y los 
                        pequeños Estados insulares en desarrollo
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 9.b</h3>
                    <p>
                        Apoyar el desarrollo de tecnologías, la investigación y la innovación nacionales en los 
                        países en desarrollo, incluso garantizando un entorno normativo propicio a la 
                        diversificación industrial y la adición de valor a los productos básicos, entre otras 
                        cosas
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 9.c</h3>
                    <p>
                        Aumentar significativamente el acceso a la tecnología de la información y las 
                        comunicaciones y esforzarse por proporcionar acceso universal y asequible a 
                        Internet en los países menos adelantados de aquí a 2020
                    </p>
                </li>
            </ul>
            <a class="volverAlt" href="#headerOds9">Volver a inicio</a>
        </div>


        <h2 id="odsInd">
            Indicadores de seguimiento ODS 9.
        </h2>
        <div class="odsDiv">
            <ul>
                <li class="odsLi">
                    <h3>Indicador 9.1.1</h3>
                    <p>
                        Proporción de la población rural que vive a menos de 2 km de una carretera 
                        transitable todo el año                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 9.1.2</h3>
                    <p>
                        Volumen de transporte de pasajeros y carga, por medio de transporte
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 9.2.1</h3>
                    <p>
                        Valor añadido del sector manufacturero en proporción al PIB y per cápita
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 9.2.2</h3>
                    <p>
                        Empleo del sector manufacturero en proporción al empleo total
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 9.3.1</h3>
                    <p>
                        Proporción del valor añadido total del sector industrial correspondiente a las 
                        pequeñas industrias                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 9.3.2</h3>
                    <p>
                        Porcentaje de las pequeñas industrias que han obtenido un préstamo o una línea de 
                        crédito
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 9.4</h3>
                    <p>
                        Emisiones de CO2 por unidad de valor añadido
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 9.5.1</h3>
                    <p>
                        Gastos en investigación y desarrollo en proporción al PIB
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 9.5.2</h3>
                    <p>
                        Número de investigadores (en equivalente a tiempo completo) por cada millón de 
                        habitantes
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 9.a</h3>
                    <p>
                        Total de apoyo internacional oficial (asistencia oficial para el desarrollo más otras 
                        corrientes oficiales) destinado a la infraestructura
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 9.b</h3>
                    <p>
                        Proporción del valor añadido por la industria de media y alta tecnología en el valor 
                        añadido total de la industria
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 9.c</h3>
                    <p>
                        Proporción de la población con cobertura de red móvil, desglosada por tecnología
                    </p>
                </li>
            </ul>
            <a class="volverAlt" href="#headerOds9">Volver a inicio</a>
        </div>


        <h2>
            Dimensiones del desarrollo sostenible relacionadas
        </h2>
        <div class="odsDiv">
            <p class="odsText">
                El ODS 9 está principalmente relacionado con la dimensión económica, aunque tiene 
                estrechos lazos con la dimensión social y ambiental.
            </p> 
            <a class="volverAlt" href="#headerOds9">Volver a inicio</a>
        </div>


        <h2 id="odsRet">
            Retos a destacar
        </h2>
        <div class="odsDiv">
            <p>Los retos a destacar de este ODS, considero que serían los siguientes:</p>
            <ul>
                <li class="odsAltLi">
                    Las brechas tecnológicas entre países y regiones.
                </li>
                <li class="odsAltLi">
                    La posibilidad de una financiación insuficiente para infraestructuras 
                    sostenibles
                </li>
                <li class="odsAltLi">
                    La adaptación a los desafíos del cambio climático y la digitalización.
                </li>
                <li class="odsAltLi">
                    La escasa inversión en innovación en algunos sectores y regiones.
                </li>
            </ul>
            <a class="volverAlt" href="#headerOds9">Volver a inicio</a>
        </div>

        <h2>
            Relación con otros ODS
        </h2>
        <div class="odsDiv">
            <p>Este ODS está relacionado con:</p>
            <dl>
                <dt class="odsAltLi">
                    - ODS 4.
                </dt>
                
                <dt class="odsAltLi">
                    - ODS 7.
                </dt>

                <dt class="odsAltLi">
                    - ODS 8.
                </dt>

                <dt class="odsAltLi">
                    - ODS 13.
                </dt>
            </dl>
            <a class="volverAlt" href="#headerOds9">Volver a inicio</a>
        </div>


        <h2 id="odsRelTic">
            Relación con Empresas TIC
        </h2>
        <div class="odsDiv">
            <p>
                Sí, ya que el desarrollo web es una pieza clave en la innovación tecnológica y la 
                transformación digitales, estadios imprescindibles para una industrialización sostenible.
            </p>
            <a class="volverAlt" href="#headerOds9">Volver a inicio</a>
        </div>


        <h2>
            ¿Es alcanzable para 2030?
        </h2>
        <div class="odsDiv">
            <p>
                Quizás es zonas más desarrolladas y comprometidas como podría ser 
                occidente nos podamos acercar, pero me parece bastante inviable lograrlo a 
                nivel mundial para el año 2030
            </p>
            <a class="volverAlt" href="#headerOds9">Volver a inicio</a>
        </div>


        <h2 id="odsAsp">
            Aspectos Negativos
        </h2>
        <div class="odsDiv">
            <dl>
                <dt class="odsAltLi">
                    - Posible aumento de desigualdades
                </dt>
                <dd class="odsDefLi">
                    En caso de no incluir a todos los sectores y regiones, podría aumentarse aún más la 
                    brecha tecnológica
                </dd>

                <dt class="odsAltLi">
                    - Nivel de inversión extremadamente elevado.                </dt>
                <dd class="odsDefLi">
                    La cantidad de bienes y materiales que sería necesario invertir hace que lograr a nivel 
                    mundial este ODS sea bastante utópico
                </dd>

                <dt class="odsAltLi">
                    - Posible impacto ambiental durante la transición                </dt>
                <dd class="odsDefLi">
                    La fabricación de las nuevas infraestructuras, el desecho de las antiguas, la extracción,
                    transporte y tratamiento de las materias primas necesarias para dichas construcciones, 
                    entre otros, empeorará la situación ambiental
                </dd>
            </dl>
            <a class="volverAlt" href="#headerOds9">Volver a inicio</a>
        </div>


        <h2 id="odsEst">
            Posibles Estrategias
        </h2>
        <div class="odsDiv">
            <ul>
                <li class="odsAltLi">
                    Promoción de la colaboración entre los entornos públicos y privados 
                    para el financiamiento y construcción de dichas infraestructuras                </li>
                <li class="odsAltLi">
                    Incremento de la formación tecnológica.
                </li>
                <li class="odsAltLi">
                    Fomentar la investigación en sectores industriales.
                </li>
            </ul>
            <a class="volverAlt" href="#headerOds9">Volver a inicio</a>
        </div>
    </main>
    <footer>
        <img class="logo" src="../images/gobi-programming-logo.png" alt="">
        <h4>Página hecha por GabriMF <br><a class="footerLink" href="https://github.com/GabriMF">Sígueme en GitHub!</a></h4>
    </footer>
</body>
</html>
