<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>ODS 9. Industria, innovación e infraestructura</title>
</head>
<body>
    <header class="odsHeader">
        <a href="../index.html"><img class="logo" src="../images/laboralLogo.png" alt="Logo Universidad Laboral"></a>
        <nav> 
            <a class="odsNavLink" href="#odsMetas">Metas</a>
            <a class="odsNavLink" href="#odsInd">Indicadores</a>
            <a class="odsNavLink" href="#odsRet">Retos</a>
            <a class="odsNavLink" href="#odsRelTic">Relación TIC</a>
            <a class="odsNavLink" href="#odsAsp">Aspectos Negativos</a>
            <a class="odsNavLink" href="#odsEst">Estrategias</a>
            <a class="odsNavLink" href="#odsCon">Contribución</a>
            <a class="odsNavLink" href="../index.html">Otros ODS</a>
        </nav>
    </header>
    <main>
        <div class="odsIntro">
            <img class="odsPic" src="../images/Ods9-Big.png" alt="">
            <h1>
                ODS 9 <br><br>Industria innovación e infraestructura.
            </h1>
        </div>
        <div class="odsConsisteDiv">
            <h2 class="odsConsisteTitle">
                En qué consiste el ODS 9
            </h2>
            <p class="odsText">
                El acceso a energía eléctrica y agua, la existencia de carreteras, de conexiones marítimas, áreas 
                y de internet son aspectos esenciales para lograr sociedades prósperas y sostenibles. Además, con 
                el creciente aumento de la población a nivel mundial, se hace necesario construir más infraestructuras 
                y de forma más sostenible para no dejar a nadie atrás al tiempo que disminuyen los impactos sobre el medioambiente. <br>
                Para ello, resulta fundamental crear nuevas industrias que hagan frente a la creciente demanda de estos servicios 
                y garanticen más puestos de trabajo. Por otro lado, los avances tecnológicos y la investigación e innovación también 
                son esenciales para encontrar soluciones permanentes a los desafíos económicos y ambientales. España invirtió en I+D+i 
                un 1,5% en 2018, por debajo de la media de los países de la Unión Europea (2%).
            </p>
        </div>


        <h2 id="odsMetas">
            Metas ODS 9.
        </h2>
        <div class="odsDiv">
            <ul>
                <li class="odsLi">
                    <h3>Meta 7.1</h3>
                    <p>
                        Asegurar el acceso universal a servicios de energía asequible, confiable y moderna.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 7.1</h3>
                    <p>
                        Asegurar el acceso universal a servicios de energía asequible, confiable y moderna.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 7.1</h3>
                    <p>
                        Asegurar el acceso universal a servicios de energía asequible, confiable y moderna.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Meta 7.1</h3>
                    <p>
                        Asegurar el acceso universal a servicios de energía asequible, confiable y moderna.
                    </p>
                </li>
                <li class="odsLi">

                </li>
            </ul>
        </div>


        <h2 id="odsInd">
            Indicadores de seguimiento ODS 9.
        </h2>
        <div class="odsDiv">
            <ul>
                <li class="odsLi">
                    <h3>Indicador 7.1.1</h3>
                    <p>
                        Proporción de la población con acceso a electricidad.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 7.1.1</h3>
                    <p>
                        Proporción de la población con acceso a electricidad.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 7.1.1</h3>
                    <p>
                        Proporción de la población con acceso a electricidad.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 7.1.1</h3>
                    <p>
                        Proporción de la población con acceso a electricidad.
                    </p>
                </li>
                <li class="odsLi">
                    <h3>Indicador 7.1.1</h3>
                    <p>
                        Proporción de la población con acceso a electricidad.
                    </p>
                </li>
            </ul>
        </div>


        <h2>
            Dimensiones del desarrollo sostenible relacionadas
        </h2>
        <div class="odsDiv">
            <p class="odsText">
                Este ODS encuadra principalmente en la dimensión ambiental, 
                ya que aborda temas como la reducción de emisiones y la 
                transición hacia fuentes de energía renovables. Sin embargo, 
                también tiene un impacto económico y social importante.
            </p> 
        </div>


        <h2 id="odsRet">
            Retos a destacar
        </h2>
        <div class="odsDiv">
            <p>Los retos a destacar de este ODS, considero que serían los siguientes:</p>
            <ul>
                <li class="odsAltLi">La dependencia de combustibles fósiles en muchos países.</li>
                <li class="odsAltLi">La dependencia de combustibles fósiles en muchos países.</li>
                <li class="odsAltLi">La dependencia de combustibles fósiles en muchos países.</li>
            </ul>
        </div>

        <h2>
            Relación con otros ODS
        </h2>
        <div class="odsDiv">
            <p>Este ODS está relacionado con:</p>
            <dl>
                <dt class="odsAltLi">
                    - ODS 13. Acción por el clima.
                </dt>
                <dd class="odsDefLi">
                    Debido al impacto directo de la energía en las emisiones de CO2
                </dd>
                
                <dt class="odsAltLi">
                    - ODS 13 (Acción por el clima).
                </dt>
                <dd class="odsDefLi">
                    Debido al impacto directo de la energía en las emisiones de CO2
                </dd>

                <dt class="odsAltLi">
                    - ODS 13 (Acción por el clima).
                </dt>
                <dd class="odsDefLi">
                    Debido al impacto directo de la energía en las emisiones de CO2
                </dd>
            </dl>
        </div>


        <h2 id="odsRelTic">
            Relación con Empresas TIC
        </h2>
        <div class="odsDiv">
            <p>
                El desarrollo web puede contribuir al ODS 7 a través de la creación de 
                aplicaciones y soluciones que optimicen el uso de recursos energéticos, 
                por ejemplo:
            </p>
            <ul>
                <li class="odsAltLi">Eficiencia de servidores y aplicaciones.</li>
                <li class="odsAltLi">Eficiencia de servidores y aplicaciones.</li>
                <li class="odsAltLi">Eficiencia de servidores y aplicaciones.</li>
            </ul>
        </div>


        <h2>
            ¿Es alcanzable para 2030?
        </h2>
        <div class="odsDiv">
            <p>
                Aunque hay avances, algunos escollos son:
            </p>
            <ul>
                <li class="odsAltLi">
                    La lentitud en la transición de los sistemas de energía.
                </li>
                <li class="odsAltLi">
                    La lentitud en la transición de los sistemas de energía.
                </li>
                <li class="odsAltLi">
                    La lentitud en la transición de los sistemas de energía.
                </li>
            </ul>
        </div>


        <h2 id="odsAsp">
            Aspectos Negativos
        </h2>
        <div class="odsDiv">
            <p>
                La transición puede causar pérdidas en sectores de energía tradicionales, 
                como el carbón y el petróleo.
                Existe el riesgo de inequidad en la distribución de la tecnología 
                energética avanzada entre países.
            </p>
        </div>


        <h2 id="odsEst">
            Posibles Estrategias
        </h2>
        <div class="odsDiv">
            <p>
                Algunas posibles estrategias a tener en cuenta serían:
            </p>
            <ul>
                <li class="odsAltLi">
                    Incrementar la inversión en tecnologías limpias.
                </li>
                <li class="odsAltLi">
                    Incrementar la inversión en tecnologías limpias.
                </li>
                <li class="odsAltLi">
                    Incrementar la inversión en tecnologías limpias.
                </li>
            </ul>
        </div>


        <h2 id="odsCon">
            Contribución Empresarial
        </h2>
        <div class="odsDiv">
            <p>
                EDP España tiene sede en Asturias y está comprometida con 
                la sostenibilidad. Su plan incluye acciones concretas para el ODS 7, 
                con una transición progresiva hacia energías renovables y proyectos 
                de eficiencia energética en toda la región.
                Indicadores de seguimiento en EDP:
            </p>
            <ul>
                <li class="odsAltLi">
                    Ha incrementado la proporción de energías renovables en su oferta.
                </li>
                <li class="odsAltLi">
                    Ha incrementado la proporción de energías renovables en su oferta.
                </li>
                <li class="odsAltLi">
                    Ha incrementado la proporción de energías renovables en su oferta.
                </li>
                <li class="odsAltLi">
                    Ha incrementado la proporción de energías renovables en su oferta.
                </li>
            </ul>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>
