body{
    background-color: #AABD8C;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

header{
    display: flex;
    align-items: center;
    background-color: #F39B6D;
    border: 3px #fa7a36 solid;
    border-radius: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #381D2A;
    border: 3px, #d40b6d, solid;
    border-radius: 10px;
    color: wheat;
}

.footerLink{
    color: rgb(182, 5, 158);
}

.logo{
    width: 10vw;
    padding: 1vh;
    border-radius: 20px;
    
}

.flechaVolver{
    width: 3vw;
    margin-top: 100%;
}
.volverAlt{
    margin-top: 2px;
    float: right;
    color: rgb(224, 198, 152);
}

h1{ font-size: 2.5rem; }
h2{
    font-size: 2rem;
}
h4{
    text-align: center;
    margin-left: 1vw;
}

a{ text-decoration: none; }



/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */
/*                                                      Index Section                                                       */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */



.introduction{
    display: flex;
    width: 80%;
    margin-bottom: 15vh;
    padding: 2vh;
    background-color: #3E6990;
    border: 3px, #659dd1, solid;
    border-radius: 10px;
}
.introImg{
    height: 30vh;
    border-radius: 10px;
}
.indexText{
    margin-left: 2vw;
    background-color: #659dd1;
    padding: 1.5vh;
    border-radius: 10px;
}

.navLink{
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    padding: 0.5vh;
    color: black;
    background-color: #E9E3B4;
    border-radius: 10px;
    border: 2px, #f8f4d8, solid;
}
.indexOdsLi{
    list-style: none;
    background-color: #3E6990;
    border: 3px, #659dd1, solid;
    border-radius: 10px;
    width: 80%;
    padding: 1vw;
    margin-bottom: 7vh;
}
.indexOdsLink{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    background-color: #659dd1;
    padding: 1.5vh;
    border-radius: 10px;
    color: black;
}
.indexOdsImg{
    width: 5vw;
    margin-right: 2vw;
}



/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */
/*                                                      ODS Section                                                         */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */


.navLink{
    /* margin-right: 0.5vw; */
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    color: black;
    background-color: #E9E3B4;
    border-radius: 10px;
    border: 2px, #f8f4d8, solid;
    padding: 0.5vh;
}

.odsIntro{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.odsPic{
    margin-right: 2vw;
    width: 12vw;
}

.odsConsisteDiv{
    border-radius: 10px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 2vh;
    background-color: #3E6990;
    border: 3px, #659dd1, solid;
    border-radius: 10px;
}

.odsConsisteTitle{
    text-align: center;
    font-size: 1.8rem;
    
}

.odsText{
    margin-left: 10vw;
    margin-right: 10vw;

}

.odsDiv{
    background-color: #3E6990;
    border: 3px, #659dd1, solid;
    border-radius: 10px;
    padding: 2vh;
    margin-bottom: 10vh;
}
.odsLi{
    list-style: none;
    margin-bottom: 7vh;
}
.odsAltLi{
    margin-bottom: 1vh;
}
.odsDefLi{
    margin-bottom: 4vh;
}


/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */
/*                                                   About Me Section                                                        */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */

.aboutMeImg{
    height: 30vh;
    border-radius: 20px;
    border: 3px, #659dd1, solid;
    margin-top: 2vh;
}