body{
    background-color: rgb(255, 239, 223);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

header{
    display: flex;
    align-items: center;
    background-color: rgb(238, 177, 96);
    border: 3px rgb(231, 146, 35) solid;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

h1{ font-size: 2.5rem; }

a{ text-decoration: none; }

/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */
/*                                                      Index Section                                                       */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */

.introduction{
    display: flex;
    width: 80%;
    margin-bottom: 15vh;
}
.introImg{
    height: 30vh;
}
.indexText{
    margin-left: 2vw;
}

.indexNavLink{
    /* margin-left: 2vw;
    margin-right: 2vw; */
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    color: black;
}
.indexOdsLi{
    list-style: none;
    background-color: rgb(195, 195, 241);
    border-radius: 10px;
    width: 80%;
    padding: 1vw;
    margin-bottom: 7vh;
}
.indexOdsLink{
    display: flex;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    color: black;
}
.indexOdsImg{
    width: 5vw;
    margin-right: 2vw;
}



/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */
/*                                                      ODS Section                                                         */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */

.odsNavLink{
    /* margin-right: 0.5vw; */
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    color: black;
    background-color: rgb(189, 189, 189);
    border: 2px rgb(221, 221, 221) solid;
    border-radius: 6px;

}

.odsIntro{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.odsPic{
    margin-right: 2vw;
    width: 12vw;
}

.odsConsisteDiv{
    background-color: rgb(190, 176, 156);
    border-radius: 10px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 2vh;
    
}

.odsConsisteTitle{
    text-align: center;
    font-size: 1.8rem;
}

.odsText{
    margin-left: 10vw;
    margin-right: 10vw;
}

.odsDiv{
    background-color: rgb(190, 176, 156);
    border-radius: 10px;
    padding: 2vh;
    margin-bottom: 10vh;
}
.odsLi{
    list-style: none;
    margin-bottom: 7vh;
}
.odsAltLi{
    margin-bottom: 1vh;
}
.odsDefLi{
    margin-bottom: 4vh;
}


